
/* Write function to site-wide color palette for different sections. */
/* Variables can include 'black on white' 'white and yellow on blue' */

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display","Arial Narrow Bold", sans-serif,"Playfair Display";
}

h1, h2, h3 {
    font-family: 'Impact', 'Arial Black', Arial, sans-serif;
}

h1 {
    /* Add Variable font size for different screen sizes */
    font-size: 48px;
    font-weight: 900;
    padding: 0%;
    margin: 0%;
    color: white;
}

h2 {
    font-weight: 800;
    font-size: 36px;
    padding: 0%;
    padding-bottom: 3%;
    margin: 0%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 10px;
    border-radius: 7px;
    background-color: #F9D195;
    font-family: 'Playfair Display';
    font-weight: 600;
    text-transform: uppercase;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0;
    min-height: 65vh;
    min-height: 65dvh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #40576b;
     color: white;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 8%;
}

.hero {
    min-height: fit-content;
    color: #F9D195;
    background-color: #40576b;
    gap: 20em;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.process {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
}

.packages {
    background-color: grey;
}

.about {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    background-color: #40576b;
}

.letter {
    font-weight: 600;
}

.footer {
    background-color: darkslategray;
    display: flex;
    min-height: 10vw;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}